body{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
}

header{
    text-align: center;
    background-color: darkgreen;
}


main{
    display: flex;

}
img{
    height: 70%;
    width: 90%;
    border: 3px solid white;
}

footer{
    text-align: center;
    font-size: small;
    padding-top: 20px;
}